.card {
  margin: 20px auto;
  box-shadow: 0 0 2px rgba(20, 29, 22);
  padding: 20px;
}

.image {
  border-radius: 50%;
  max-width: 70px;
}

[data-emoji]::before {
  content: attr(data-emoji); /* Returns '✅' */
  margin-right: 5px;
}
